article {
    margin: auto;
    max-width: 1000px;
    padding: 50px;
}

article p {
    line-height: 2em;
}

body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

header {
    align-items: center;
    display: flex;
    height: 80px;
    margin: auto;
    padding: 8px;
    max-width: 1600px;
}

header .spacer {
    align-items: center;
    display: flex;
    flex-grow: 1;
}

header h1 {
    display: none;
}

header .profile64 {
    margin: 16px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Raleway, sans-serif;
}

nav ul {
    font-family: "Open Sans", sans-serif;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    align-items: center;
    color: gray;
    display: flex;
    height: 80px;
    padding: 0 16px;
    text-decoration: none;
}

nav ul li a.active {
    color: black;
}

.hero {
    -webkit-background-size: cover;
    background-size: cover;
    color: white;
    mix-blend-mode: difference;
    padding: 50px;
}

.profile64 {
    background-image: url(../images/light_bg/square64.png);
    height: 64px;
    width: 64px;
}

@media screen and (min-width: 960px) {
    header h1 {
        display: block;
    }

    .hero {
        font-size: 2em;
        padding: 150px;
    }
}