section#hero {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7rem;
    margin-bottom: 7rem;
    @media (min-width: 768px) {
        margin-top: 11rem;
    }

    > div {
        max-width: 1250px;
        min-height: 13rem;
        @media (min-width: 768px) {
            > div {
                width: 55%;
            }
        }

        h1 {
            font-size: 2.5rem;
            @media (min-width: 768px) {
                font-size: 4.5rem;
            }
        }

        p {
            font-size: 0.9rem;
            @media (min-width: 768px) {
                font-size: 1rem;
            }
        }
    }
}

section.project {
    display: flex;
    padding: 2em;

    p {
        font-size: .75em;
    }

    img {
        max-height: 256px;
    }

    h3 {
        margin-bottom: 0;
    }

    > div {
        flex: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    @media screen and (max-width: 768px) {
        &:nth-child(odd) {
            flex-direction: column;
        }
        &:nth-child(even) {
            flex-direction: column-reverse;
        }
    }
}

section.education {
    display: flex;
    align-items: flex-start;
    border-left: dotted thick gray;
    padding-top: 16px;
    padding-left: 32px;
    margin-left: 32px;
    @media screen and (min-width: 768px) {
        padding-left: 48px;
    }
    flex-direction: column;

    img {
        max-height: 64px;
    }
    p {
        margin-top: 16px;
    }
    > div:first-child {
        display: flex;
        align-items: center;

        h2 {
            margin-top: 0;
            margin-left: 24px;
            text-align: left;
        }
    }
}

#experience-container {
    @media screen and (min-width: 768px) {
        margin: auto;
        width: 800px;
    }
}

#social-links {
    display: flex;
}

#social-links a {
    margin: 4px;
}

#social-links img {
    @media (prefers-color-scheme: dark) {
        filter: invert(100%);
    }
    margin-right: 4px;
    width: 1em;
}
