@font-face {
    font-family: 'metropolis';
    src: url("/fonts/Metropolis-Regular.otf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'metropolis';
    src: url("/fonts/Metropolis-Medium.otf");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'metropolis';
    src: url("/fonts/Metropolis-SemiBold.otf");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'metropolis';
    src: url("/fonts/Metropolis-Bold.otf");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'metropolis';
    src: url("/fonts/Metropolis-ExtraBold.otf");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'metropolis';
    src: url("/fonts/Metropolis-Black.otf");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

*, *:after, *:before {
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    font-family: "metropolis", sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
    margin: 0;
    @media (prefers-color-scheme: light) {
        background-color: white;
        color: black;
    }
}

header {
    background-color: black;
    color: white;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    @media (prefers-color-scheme: light) {
        background-color: white;
        color: black;
    }

    > div {
        display: flex;
        align-items: center;
        margin: 0 1rem;
        max-width: 1250px;
        height: 100%;
        width: 100%;

        h1 {
            flex-grow: 1;
        }

        > .icon {
            margin-right: 8px;
        }
    }
}

div.icon {
    background-size: cover;
    background-position: center;
    display: inline-block;
}

div.icon32 {
    height: 32px;
    width: 32px;
}

div.icon48 {
    height: 48px;
    width: 48px;
}

img {
    max-width: 100%;
}

h1 {
    margin: 0;
}

p {
    line-height: 2em;
}

main > section, section#hero {
    padding: 1rem;
}

main > section {
    margin-top: 10rem;

    > div {
        margin: auto;
        max-width: 1250px;
    }

    h1 {
        margin: 0;
        font-weight: 600;
        font-size: 3rem;
        text-align: center;
    }

    h2 {
        margin: 1rem 0 0 0;
        font-size: 1.4rem;
        font-weight: normal;
        color: #596a89;
        text-align: center;

        @media (prefers-color-scheme: dark) {
            color: white;
        }
    }
}
