.quick-links {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 0;
}

a.quick-link {
    color: black;
    display: inline-flex;
    align-items: center;
    padding: 8px;
    text-decoration: none;
}

a.quick-link :first-child {
    font-size: 1.5em;
    margin: 0 8px;
}

a.quick-link:hover {
    background-color: #eeeeee;
    border-radius: 4px;
}

@media screen and (min-width: 600px) {
    .quick-links {
        display: block;
    }
}